crewai
crewai-tools
deepeval
duckduckgo-search
fastapi
google-genai
google-generativeai
langchain
langchain-chroma
langchain-community
langchain-openai
langchain-text-splitters
lettucedetect
openai
pandas
pydantic
pypdf
ragas
torch
torchaudio
torchvision
uvicorn
youtube-transcript-api
python-dotenv
